.settings/
.vscode/
coverage/
dist/test/
examples/
node_modules/
src/
temp/
typings/

.gitattributes
.gitignore
.editorconfig
browserify-karma.js
browserify-umd.js
DEVELOPING.md
karma.conf.js
minify-umd.js
tsconfig.json
tsd.json
tslint.json
*.tgz